body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) !important;
}


#calculator{
    background-color: black;
    border-radius: 10px;
    width: 30%;
    padding: 5%;
    margin: auto;
    margin-top: 5%;
}

#display{
    width: 100%;
    height: 2em;
    font-size: 3.5em;
    border-radius: 10px;
    background-color: white;

}

#keys{
    display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-top: 20px;
}

button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: 1.2rem;
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.1);
}

button:hover{
    color: whitesmoke ;
    background-color: rgb(51, 50, 50);
}

button:nth-child(12){
    background-color:rgb(47, 250, 47);
    grid-row: span 3;
}

button:nth-child(1){
    background-color: rgb(250, 46, 46);
    
}

button:nth-child(1):hover{
    background-color: rgb(255, 0, 0);
}

